# Arquivo para realizar o treinamento do modelo de ML
# A ideia é que ele seja executado apenas uma vez, e que o resultado
# seja salvo em um volume persistente.
# 
# Para executar, use o comando:
# kubectl apply -f ml-job.yaml
#
# Para ver os logs do job, use o comando:
# kubectl logs -f job/davineves-model-generator-v1 -n davineves

apiVersion: batch/v1
kind: Job
metadata:
  # Usar generateName é uma boa prática para que o Kubernetes crie um nome único.
  generateName: davineves-model-generator-
  namespace: davineves
spec:
  # Define o tempo de vida do job após ele terminar
  # Útil para limpar o cluster automaticamente
  # Requer que a feature gate TTLAfterFinished esteja ativa no cluster
  ttlSecondsAfterFinished: 100
  # Define quantas vezes ele pode tentar se falhar
  backoffLimit: 4
  template:
    spec:
      containers:
      - name: ml-job-container
        image: davifraga/recomender-ml:0.1
        volumeMounts:
        - name: model-storage
          mountPath: /data
      # A política de reinicialização deve ser Never ou OnFailure
      restartPolicy: Never
      volumes:
      - name: model-storage
        persistentVolumeClaim:
          claimName: davineves-model-pvc
