apiVersion: batch/v1
kind: Job
metadata:
  name: playlist-rules-generator-job
spec:
  template:
    spec:
      # Este Init Container é executado primeiro. Ele prepara o ambiente.
      initContainers:
      - name: data-downloader
        image: busybox:1.28 # Imagem pequena com ferramentas como 'wget'
        # O comando baixa os dois arquivos CSV para o volume montado
        command: ['sh', '-c']
        args:
        - >
          rm -f /data/*;
          wget --no-check-certificate "https://homepages.dcc.ufmg.br/~cunha/hosted/cloudcomp-2023s2-datasets/2023_spotify_ds1.csv" -O /data/2023_spotify_ds1.csv;
          wget --no-check-certificate "https://homepages.dcc.ufmg.br/~cunha/hosted/cloudcomp-2023s2-datasets/2023_spotify_ds2.csv" -O /data/2023_spotify_ds2.csv;
          echo "Downloads concluídos.";
        volumeMounts:
        - name: ml-data-storage
          mountPath: /data

      # Este é o container principal, que executa seu script Python.
      # Ele só começa depois que o Init Container termina.
      containers:
      - name: ml-trainer
        # Substitua pela sua imagem Docker
        image: davifmn/recomender-ml:latest
        command: ["python", "main.py"]

        volumeMounts:
        - name: ml-data-storage
          # Montamos o volume em /app/data, que é onde seu script
          # lê os CSVs e salva o .pkl
          mountPath: /app/data
      
      # O volume que será compartilhado entre os containers
      volumes:
      - name: ml-data-storage
        persistentVolumeClaim:
          # O PVC deve ser criado separadamente.
          claimName: ml-data-pvc
          
      restartPolicy: Never
  backoffLimit: 4
