apiVersion: /v1
kind: PersistentVolumeClaim
metadata:
  name: davineves-model-generator-v1

spec:

  backoffLimit: 2
  template:
    spec:
      containers:
      - name: ml-job-container
        image: davifraga/recomender-ml:0.1
        volumeMounts:
        - name: model-storage
          mountPath: /data
      # A política de reinicialização deve ser Never ou OnFailure para Jobs.
      restartPolicy: Never
      volumes:
      - name: model-storage
        persistentVolumeClaim:
          # Garanta que este PVC existe e está no estado 'Bound' no namespace 'davineves'.
          claimName: davineves-model-pvc
